body{
    font-size: 12px;
}

.loginForms {
    margin: 210px auto;
}

.bodyForms {
    background: url("#{resource['style/taxi.jpg']}") repeat;
}

.ui-clock{
    float: right;
}

.ui-layout-unit-content{
    width: 100%;
}

.column-center-form{
    width: 20%;
}

#driverDetailForm button{
    width: inherit;
}

#button {
    width: 100%;
}

#button {
    width: 100%;
}

.categoryButtons {
    width: 100%;
}