body{
    font-size: 12px;
}

.loginForms {
    margin: 210px auto;
}

.bodyForms {
    background: url("#{resource['style/taxi.jpg']}") repeat;
}

.ui-clock{
    float: right;
}

.ui-layout-unit-content{
    width: 100%;
}

.column-center-form{
    width: 20%;
}

#driverDetailForm button{
    width: inherit;
}

#button {
    width: 100%;
}

#button {
    width: 100%;
}

.categoryButtons {
    width: 100%;
}

.forgotPassBtn:hover {
    text-decoration: none;
    background: no-repeat -48px -144px;
}

.forgotPassBtn button {
    text-decoration: none;
}

/*For steps*/
.ui-steps .ui-steps-item {
    width: 25%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 30px;
    width: 100%;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}

/**/